@{
    ViewData["Title"] = "Home Page";
}

<h1>Quiz App</h1>
<div id="quiz-container">
    <div id="timer">Timp: 30</div>
    <div id="score-box">
        <p>Corecte: <span id="correct-count">0</span></p>
        <p>Greșite: <span id="wrong-count">0</span></p>
    </div>
</div>



<script src="~/js/site.js"></script>