@{
    ViewData["Title"] = "Home Page";
}

<div class="quiz-container">
   
    <div class="timer">Timp rămas: <span id="time">30</span>s</div>

   
    <div class="question">
        <h2>Întrebarea 1: Care este limita de viteză în localități?</h2>
    </div>

  
    <div class="answers">
        <button class="answer">50 km/h</button>
        <button class="answer">70 km/h</button>
        <button class="answer">90 km/h</button>
    </div>

  
    <div class="score-box">
        <p style="color:lawngreen">Corecte: <span id="correct-count">0</span></p>
        <p style="color:red">Greșite: <span id="wrong-count">0</span></p>
    </div>
</div>
